**å¤ä¹ ï¼š**æ•°æ®åˆ†æçš„ç¬¬ä¸€æ­¥ï¼ŒåŠ è½½æ•°æ®æˆ‘ä»¬å·²ç»å­¦ä¹ å®Œæ¯•äº†ã€‚å½“æ•°æ®å±•ç°åœ¨æˆ‘ä»¬é¢å‰çš„æ—¶å€™ï¼Œæˆ‘ä»¬æ‰€è¦åšçš„ç¬¬ä¸€æ­¥å°±æ˜¯è®¤è¯†ä»–ï¼Œä»Šå¤©æˆ‘ä»¬è¦å­¦ä¹ çš„å°±æ˜¯**äº†è§£å­—æ®µå«ä¹‰ä»¥åŠåˆæ­¥è§‚å¯Ÿæ•°æ®**ã€‚

## 1 ç¬¬ä¸€ç« ï¼šæ•°æ®è½½å…¥åŠåˆæ­¥è§‚å¯Ÿ

### 1.4 çŸ¥é“ä½ çš„æ•°æ®å«ä»€ä¹ˆ
æˆ‘ä»¬å­¦ä¹ pandasçš„åŸºç¡€æ“ä½œï¼Œé‚£ä¹ˆä¸Šä¸€èŠ‚é€šè¿‡pandasåŠ è½½ä¹‹åçš„æ•°æ®ï¼Œå…¶æ•°æ®ç±»å‹æ˜¯ä»€ä¹ˆå‘¢ï¼Ÿ

**å¼€å§‹å‰å¯¼å…¥numpyå’Œpandas**

In [2]:
import numpy as np
import pandas as pd

#### 1.4.1 ä»»åŠ¡ä¸€ï¼špandasä¸­æœ‰ä¸¤ä¸ªæ•°æ®ç±»å‹DateFrameå’ŒSeriesï¼Œé€šè¿‡æŸ¥æ‰¾ç®€å•äº†è§£ä»–ä»¬ã€‚ç„¶åè‡ªå·±å†™ä¸€ä¸ªå…³äºè¿™ä¸¤ä¸ªæ•°æ®ç±»å‹çš„å°ä¾‹å­ğŸŒ°[å¼€æ”¾é¢˜]

In [46]:
#å†™å…¥ä»£ç 
df = {
        "ID":[i for i in range(10)],
        "Name":[chr(i) for i in range(97,107)],
     }

df = pd.DataFrame(df)
df

   ID Name
0   0    a
1   1    b
2   2    c
3   3    d
4   4    e
5   5    f
6   6    g
7   7    h
8   8    i
9   9    j

In [48]:
s = {
        "A":1,
        "B":2,
        "C":3,
        "D":4
    }

s = pd.Series(s)

s

A    1
B    2
C    3
D    4
dtype: int64

In [ ]:
'''
#æˆ‘ä»¬ä¸¾çš„ä¾‹å­
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
example_1 = pd.Series(sdata)
example_1
'''

In [ ]:
'''
#æˆ‘ä»¬ä¸¾çš„ä¾‹å­
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
example_2 = pd.DataFrame(data)
example_2
'''

#### 1.4.2 ä»»åŠ¡äºŒï¼šæ ¹æ®ä¸ŠèŠ‚è¯¾çš„æ–¹æ³•è½½å…¥"train.csv"æ–‡ä»¶

In [3]:
#å†™å…¥ä»£ç 
train = pd.read_csv("train.csv")

ä¹Ÿå¯ä»¥åŠ è½½ä¸Šä¸€èŠ‚è¯¾ä¿å­˜çš„"train_chinese.csv"æ–‡ä»¶ã€‚é€šè¿‡ç¿»è¯‘ç‰ˆtrain_chinese.csvç†Ÿæ‚‰äº†è¿™ä¸ªæ•°æ®é›†ï¼Œç„¶åæˆ‘ä»¬å¯¹trian.csvæ¥è¿›è¡Œæ“ä½œ
#### 1.4.3 ä»»åŠ¡ä¸‰ï¼šæŸ¥çœ‹DataFrameæ•°æ®çš„æ¯åˆ—çš„åç§°

In [4]:
#å†™å…¥ä»£ç 
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

#### 1.4.4ä»»åŠ¡å››ï¼šæŸ¥çœ‹"Cabin"è¿™åˆ—çš„æ‰€æœ‰å€¼[æœ‰å¤šç§æ–¹æ³•]

In [12]:
#å†™å…¥ä»£ç 
train["Cabin"].unique()

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

In [18]:
#å†™å…¥ä»£ç 
train["Cabin"].values

array([nan, 'C85', nan, 'C123', nan, nan, 'E46', nan, nan, nan, 'G6',
       'C103', nan, nan, nan, nan, nan, nan, nan, nan, nan, 'D56', nan,
       'A6', nan, nan, nan, 'C23 C25 C27', nan, nan, nan, 'B78', nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, 'D33', nan, 'B30', 'C52', nan, nan, nan,
       nan, nan, 'B28', 'C83', nan, nan, nan, 'F33', nan, nan, nan, nan,
       nan, nan, nan, nan, 'F G73', nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, 'C23 C25 C27', nan, nan, nan, 'E31', nan,
       nan, nan, 'A5', 'D10 D12', nan, nan, nan, nan, 'D26', nan, nan,
       nan, nan, nan, nan, nan, 'C110', nan, nan, nan, nan, nan, nan, nan,
       'B58 B60', nan, nan, nan, nan, 'E101', 'D26', nan, nan, nan,
       'F E69', nan, nan, nan, nan, nan, nan, nan, 'D47', 'C123', nan,
       'B86', nan, nan, nan, nan, nan, nan, nan, nan, 'F2', nan, nan,
       'C2', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, 'E33', nan, nan, nan, 'B19', nan, nan, nan, 'A7', nan,
       nan, 'C49', nan, nan, nan, nan, nan, 'F4', nan, 'A32', nan, nan,
       nan, nan, nan, nan, nan, 'F2', 'B4', 'B80', nan, nan, nan, nan,
       nan, nan, nan, nan, nan, 'G6', nan, nan, nan, 'A31', nan, nan, nan,
       nan, nan, 'D36', nan, nan, 'D15', nan, nan, nan, nan, nan, 'C93',
       nan, nan, nan, nan, nan, 'C83', nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, 'C78', nan, nan, 'D35', nan,
       nan, 'G6', 'C87', nan, nan, nan, nan, 'B77', nan, nan, nan, nan,
       'E67', 'B94', nan, nan, nan, nan, 'C125', 'C99', nan, nan, nan,
       'C118', nan, 'D7', nan, nan, nan, nan, nan, nan, nan, nan, 'A19',
       nan, nan, nan, nan, nan, nan, 'B49', 'D', nan, nan, nan, nan,
       'C22 C26', 'C106', 'B58 B60', nan, nan, nan, 'E101', nan,
       'C22 C26', nan, 'C65', nan, 'E36', 'C54', 'B57 B59 B63 B66', nan,
       nan, nan, nan, nan, nan, 'C7', 'E34', nan, nan, nan, nan, nan,
       'C32', nan, 'D', nan, 'B18', nan, 'C124', 'C91', nan, nan, nan,
       'C2', 'E40', nan, 'T', 'F2', 'C23 C25 C27', nan, nan, nan, 'F33',
       nan, nan, nan, nan, nan, 'C128', nan, nan, nan, nan, 'E33', nan,
       nan, nan, nan, nan, nan, nan, nan, nan, 'D37', nan, nan, 'B35',
       'E50', nan, nan, nan, nan, nan, nan, 'C82', nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, 'B96 B98', nan, nan, 'D36',
       'G6', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, 'C78', nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, 'E10', 'C52', nan,
       nan, nan, 'E44', 'B96 B98', nan, nan, 'C23 C25 C27', nan, nan, nan,
       nan, nan, nan, 'A34', nan, nan, nan, 'C104', nan, nan, 'C111',
       'C92', nan, nan, 'E38', 'D21', nan, nan, 'E12', nan, 'E63', nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, 'D', nan, 'A14', nan,
       nan, nan, nan, nan, nan, nan, nan, 'B49', nan, 'C93', 'B37', nan,
       nan, nan, nan, 'C30', nan, nan, nan, 'D20', nan, 'C22 C26', nan,
       nan, nan, nan, nan, 'B79', 'C65', nan, nan, nan, nan, nan, nan,
       'E25', nan, nan, 'D46', 'F33', nan, nan, nan, 'B73', nan, nan,
       'B18', nan, nan, nan, 'C95', nan, nan, nan, nan, nan, nan, nan,
       nan, 'B38', nan, nan, 'B39', 'B22', nan, nan, nan, 'C86', nan, nan,
       nan, nan, nan, 'C70', nan, nan, nan, nan, nan, 'A16', nan, 'E67',
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'C101',
       'E25', nan, nan, nan, nan, 'E44', nan, nan, nan, 'C68', nan, 'A10',
       nan, 'E68', nan, 'B41', nan, nan, nan, 'D20', nan, nan, nan, nan,
       nan, nan, nan, 'A20', nan, nan, nan, nan, nan, nan, nan, nan, nan,
       'C125', nan, nan, nan, nan, nan, nan, nan, nan, 'F4', nan, nan,
       'D19', nan, nan, nan, 'D50', nan, 'D9', nan, nan, 'A23', nan,
       'B50', nan, nan, nan, nan, nan, nan, nan, nan, 'B35', nan, nan,
       nan, 'D33', nan, 'A26', nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, 'D48', nan, nan, 'E58', nan, nan, nan, nan, nan,
       nan, 'C126', nan, 'B71', nan, nan, nan, nan, nan, nan, nan,
       'B51 B53 B55', nan, 'D49', nan, nan, nan, nan, nan, nan, nan, 'B5',
       'B20', nan, nan, nan, nan, nan, nan, nan, 'C68', 'F G63',
       'C62 C64', 'E24', nan, nan, nan, nan, nan, 'E24', nan, nan, 'C90',
       'C124', 'C126', nan, nan, 'F G73', 'C45', 'E101', nan, nan, nan,
       nan, nan, nan, 'E8', nan, nan, nan, nan, nan, 'B5', nan, nan, nan,
       nan, nan, nan, 'B101', nan, nan, 'D45', 'C46', 'B57 B59 B63 B66',
       nan, nan, 'B22', nan, nan, 'D30', nan, nan, 'E121', nan, nan, nan,
       nan, nan, nan, nan, 'B77', nan, nan, nan, 'B96 B98', nan, 'D11',
       nan, nan, nan, nan, nan, nan, 'E77', nan, nan, nan, 'F38', nan,
       nan, 'B3', nan, 'B20', 'D6', nan, nan, nan, nan, nan, nan,
       'B82 B84', nan, nan, nan, nan, nan, nan, 'D17', nan, nan, nan, nan,
       nan, 'B96 B98', nan, nan, nan, 'A36', nan, nan, 'E8', nan, nan,
       nan, nan, nan, 'B102', nan, nan, nan, nan, 'B69', nan, nan, 'E121',
       nan, nan, nan, nan, nan, 'B28', nan, nan, nan, nan, nan, 'E49',
       nan, nan, nan, 'C47', nan, nan, nan, nan, nan, nan, nan, nan, nan,
       'C92', nan, nan, nan, 'D28', nan, nan, nan, 'E17', nan, nan, nan,
       nan, 'D17', nan, nan, nan, nan, 'A24', nan, nan, nan, 'D35',
       'B51 B53 B55', nan, nan, nan, nan, nan, nan, 'C50', nan, nan, nan,
       nan, nan, nan, nan, 'B42', nan, 'C148', nan], dtype=object)

In [ ]:
#è¯¾ç¨‹é…å¥—ç­”æ¡ˆ

"""
train["Cabin"].head(3)
train.Cabin.head(3)
"""

#### 1.4.5 ä»»åŠ¡äº”ï¼šåŠ è½½æ–‡ä»¶"test_1.csv"ï¼Œç„¶åå¯¹æ¯”"train.csv"ï¼Œçœ‹çœ‹æœ‰å“ªäº›å¤šå‡ºçš„åˆ—ï¼Œç„¶åå°†å¤šå‡ºçš„åˆ—åˆ é™¤
ç»è¿‡æˆ‘ä»¬çš„è§‚å¯Ÿå‘ç°ä¸€ä¸ªæµ‹è¯•é›†test_1.csvæœ‰ä¸€åˆ—æ˜¯å¤šä½™çš„ï¼Œæˆ‘ä»¬éœ€è¦å°†è¿™ä¸ªå¤šä½™çš„åˆ—åˆ å»

In [49]:
#å†™å…¥ä»£ç 
test_1 = pd.read_csv("/Users/a1234/Downloads/hands-on-data-analysis-master/ç¬¬ä¸€å•å…ƒé¡¹ç›®é›†åˆ/test_1.csv")
test_1.columns

#é…å¥—è¯¾ç¨‹ç­”æ¡ˆ
#test_1.head()

Index(['Unnamed: 0', 'PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age',
       'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'a'],
      dtype='object')

In [50]:
#å†™å…¥ä»£ç 
test_1 = test_1.drop('a', axis = 1)
test_1.head()

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

ã€æ€è€ƒã€‘è¿˜æœ‰å…¶ä»–çš„åˆ é™¤å¤šä½™çš„åˆ—çš„æ–¹å¼å—ï¼Ÿ

In [1]:
# æ€è€ƒå›ç­”

#æ”¹å˜åŸå§‹æ•°æ®(é…å¥—è¯¾ç¨‹ç­”æ¡ˆ)
del test_1['Unnamed: 0']

#æ”¹å˜åŸå§‹æ•°æ®
test_1.drop('Unnamed: 0', axis = 1, inplace = True)

#ä¸æ”¹å˜åŸå§‹æ•°æ®,é‡æ–°èµ‹å€¼ï¼ˆä¸Šé¢çš„æ€è·¯ï¼‰
test_1 = test_1.drop('Unnamed: 0', axis = 1)

#### 1.4.6 ä»»åŠ¡å…­ï¼š å°†['PassengerId','Name','Age','Ticket']è¿™å‡ ä¸ªåˆ—å…ƒç´ éšè—ï¼Œåªè§‚å¯Ÿå…¶ä»–å‡ ä¸ªåˆ—å…ƒç´

In [22]:
#å†™å…¥ä»£ç 
train.drop(['PassengerId','Name','Age','Ticket'],axis=1)

     Survived  Pclass     Sex  SibSp  Parch     Fare Cabin Embarked
0           0       3    male      1      0   7.2500   NaN        S
1           1       1  female      1      0  71.2833   C85        C
2           1       3  female      0      0   7.9250   NaN        S
3           1       1  female      1      0  53.1000  C123        S
4           0       3    male      0      0   8.0500   NaN        S
..        ...     ...     ...    ...    ...      ...   ...      ...
886         0       2    male      0      0  13.0000   NaN        S
887         1       1  female      0      0  30.0000   B42        S
888         0       3  female      1      2  23.4500   NaN        S
889         1       1    male      0      0  30.0000  C148        C
890         0       3    male      0      0   7.7500   NaN        Q

[891 rows x 8 columns]

ã€æ€è€ƒã€‘å¯¹æ¯”ä»»åŠ¡äº”å’Œä»»åŠ¡å…­ï¼Œæ˜¯ä¸æ˜¯ä½¿ç”¨äº†ä¸ä¸€æ ·çš„æ–¹æ³•(å‡½æ•°)ï¼Œå¦‚æœä½¿ç”¨ä¸€æ ·çš„å‡½æ•°å¦‚ä½•å®Œæˆä¸Šé¢çš„ä¸åŒçš„è¦æ±‚å‘¢ï¼Ÿ

ã€æ€è€ƒå›ç­”ã€‘

å¦‚æœæƒ³è¦å®Œå…¨çš„åˆ é™¤ä½ çš„æ•°æ®ç»“æ„ï¼Œä½¿ç”¨inplace=Trueï¼Œå› ä¸ºä½¿ç”¨inplaceå°±å°†åŸæ•°æ®è¦†ç›–äº†ï¼Œæ‰€ä»¥è¿™é‡Œæ²¡æœ‰ç”¨

### 1.5 ç­›é€‰çš„é€»è¾‘

è¡¨æ ¼æ•°æ®ä¸­ï¼Œæœ€é‡è¦çš„ä¸€ä¸ªåŠŸèƒ½å°±æ˜¯è¦å…·æœ‰å¯ç­›é€‰çš„èƒ½åŠ›ï¼Œé€‰å‡ºæˆ‘æ‰€éœ€è¦çš„ä¿¡æ¯ï¼Œä¸¢å¼ƒæ— ç”¨çš„ä¿¡æ¯ã€‚

ä¸‹é¢æˆ‘ä»¬è¿˜æ˜¯ç”¨å®æˆ˜æ¥å­¦ä¹ pandasè¿™ä¸ªåŠŸèƒ½ã€‚

#### 1.5.1 ä»»åŠ¡ä¸€ï¼š æˆ‘ä»¬ä»¥"Age"ä¸ºç­›é€‰æ¡ä»¶ï¼Œæ˜¾ç¤ºå¹´é¾„åœ¨10å²ä»¥ä¸‹çš„ä¹˜å®¢ä¿¡æ¯ã€‚

In [23]:
#å†™å…¥ä»£ç 
train[train["Age"]<10]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP 9549,16.7000,G6,S
16,17,0,3,"Rice, Master. Eugene",male,2.00,4,1,382652,29.1250,NaN,Q
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.00,3,1,349909,21.0750,NaN,S
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1,2,SC/Paris 2123,41.5792,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
827,828,1,2,"Mallet, Master. Andre",male,1.00,0,2,S.C./PARIS 2079,37.0042,NaN,C
831,832,1,2,"Richards, Master. George Sibley",male,0.83,1,1,29106,18.7500,NaN,S
850,851,0,3,"Andersson, Master. Sigvard Harald Elias",male,4.00,4,2,347082,31.2750,NaN,S
852,853,0,3,"Boulos, Miss. Nourelain",female,9.00,1,1,2678,15.2458,NaN,C
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.00,1,1,347742,11.1333,NaN,S

#### 1.5.2 ä»»åŠ¡äºŒï¼š ä»¥"Age"ä¸ºæ¡ä»¶ï¼Œå°†å¹´é¾„åœ¨10å²ä»¥ä¸Šå’Œ50å²ä»¥ä¸‹çš„ä¹˜å®¢ä¿¡æ¯æ˜¾ç¤ºå‡ºæ¥ï¼Œå¹¶å°†è¿™ä¸ªæ•°æ®å‘½åä¸ºmidage

In [55]:
#å†™å…¥ä»£ç 
midage = train[(train["Age"]>10) & (train["Age"]<50)]

#ä¸ºä»€ä¹ˆä¸åŠ æ‹¬å·å°±ä¼šæŠ¥é”™å‘¢ï¼Ÿ
#ç­”ï¼šå› ä¸ºä¸åŠ æ‹¬å·ä¼šå¯¼è‡´ç¬¦å·è¿ç®—é¡ºåºä¸åŒè€Œè¿ç®—é”™è¯¯

ã€æç¤ºã€‘äº†è§£pandasçš„æ¡ä»¶ç­›é€‰æ–¹å¼ä»¥åŠå¦‚ä½•ä½¿ç”¨äº¤é›†å’Œå¹¶é›†æ“ä½œ

#### 1.5.3 ä»»åŠ¡ä¸‰ï¼šå°†midageçš„æ•°æ®ä¸­ç¬¬100è¡Œçš„"Pclass"å’Œ"Sex"çš„æ•°æ®æ˜¾ç¤ºå‡ºæ¥

In [33]:
#å†™å…¥ä»£ç 
midage.iloc[100,2:5:2]

#é…å¥—è¯¾ç¨‹ç­”æ¡ˆ
#midage = midage.reset_index(drop=True)  reset_indexèƒ½å¤Ÿé‡ç½®ç´¢å¼•
#midage.loc[[100],['Pclass','Sex']]

Pclass       2
Sex       male
Name: 149, dtype: object

ã€æç¤ºã€‘åœ¨æŠ½å–æ•°æ®ä¸­ï¼Œæˆ‘ä»¬å¸Œæœ›æ•°æ®çš„ç›¸å¯¹é¡ºåºä¿æŒä¸å˜ï¼Œç”¨ä»€ä¹ˆå‡½æ•°å¯ä»¥è¾¾åˆ°è¿™ä¸ªæ•ˆæœå‘¢ï¼Ÿ

#### 1.5.4 ä»»åŠ¡å››ï¼šä½¿ç”¨locæ–¹æ³•å°†midageçš„æ•°æ®ä¸­ç¬¬100ï¼Œ105ï¼Œ108è¡Œçš„"Pclass"ï¼Œ"Name"å’Œ"Sex"çš„æ•°æ®æ˜¾ç¤ºå‡ºæ¥

In [38]:
#å†™å…¥ä»£ç 
midage.loc[[100,105,108],["Pclass","Name","Sex"]]

     Pclass                     Name     Sex
100       3  Petranec, Miss. Matilda  female
105       3    Mionoff, Mr. Stoytcho    male
108       3          Rekic, Mr. Tido    male

#### 1.5.5 ä»»åŠ¡äº”ï¼šä½¿ç”¨ilocæ–¹æ³•å°†midageçš„æ•°æ®ä¸­ç¬¬100ï¼Œ105ï¼Œ108è¡Œçš„"Pclass"ï¼Œ"Name"å’Œ"Sex"çš„æ•°æ®æ˜¾ç¤ºå‡ºæ¥

In [45]:
#å†™å…¥ä»£ç 
midage.iloc[[100,105,108],2:5]

#å› ä¸ºä¹‹å‰æ²¡æœ‰ä½¿ç”¨reset_indexå‡½æ•°ï¼Œæ‰€ä»¥å‰é¢ç´¢å¼•æ•°å­—æ˜¯é”™è¯¯çš„

     Pclass                               Name   Sex
149       2  Byles, Rev. Thomas Roussel Davids  male
160       3           Cribb, Mr. John Hatfield  male
163       3                    Calic, Mr. Jovo  male

ã€æ€è€ƒã€‘å¯¹æ¯”`iloc`å’Œ`loc`çš„å¼‚åŒ

ç­”ï¼š
ilocä»¥åæ ‡ä½œä¸ºå‚æ•°ï¼›
locä»¥åˆ—åè¡Œåä½œä¸ºå‚æ•°